<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <title>Electronic Book Store</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2702/2702134.png" />
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="../../static/styles/style.css"/>
</head>

<body>

<header>
    <h1><a th:href="@{/}">Electronic Book Store</a></h1>
    <div class="nav-links">
        <a th:if="${user.getRole().equals('EMPLOYEE')}" th:href="@{/employee/add-book}">Добавить новую книгу</a>
        <a th:if="${user.getRole().equals('CLIENT')}" th:href="@{/cart}">Посмотреть корзину</a>
    </div>
    <div class="profile-container">
        <img src="https://cdn-icons-png.flaticon.com/32/1144/1144760.png" alt="Profile Picture">
        <a th:href="@{/profile}" th:text="${user.getUsername()}">User</a>
    </div>
</header>

<div class="grid-container">
    <div class="book-item" th:each="book : ${books}">
        <a th:href="@{/book/{id}(id=${book.getBookId()})}">
            <img th:src="${book.getImagePath()}" alt="Book Image" />
        </a>
        <a th:href="@{/book/{id}(id=${book.getBookId()})}" th:text="${book.getTitle()}"></a>
        <div th:text="${book.getAmountView()}"></div>
    </div>
</div>

</body>
</html>
